
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444444;
}

li{
  float: left;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size:30px;
  font-family: 'Gupter', serif;
  font-weight: bolder;
}

.landing-container{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around

}

.city-image{
  width:90%;
  object-fit: cover;
  margin:20px;
  height: 400px;
}

.landing-page-links{
  border: solid 5px #383F44;
  width: 30%;
  margin: 10px;
  overflow: hidden;
  position: relative;

}
.landing-page-links:hover .hover-state{
  display:flex;

}

.hover-state{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background:black;
  opacity: .8;
  color:white;
  display:none;
  align-items: center;
  justify-content: center;
}


.hero-image {
  background-image: url("./assets/hero1.jpg");
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px black;
  font-family: 'Gupter', serif;
}

.footer{
  right: 0;
  bottom: 0;
  left: 0;
  color:#383F44;
  text-align: center;
  margin-top: 10px;
  font-size:10px;
  font-weight: lighter;
  font-family: 'Gupter', serif;
}

.profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-image {
  display: block;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top:25px;
  border:5px solid #383F44;
}

.weather-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-gap: 15px;
  align-items: center
}

.weather-cell {
  height: 106.25px;
  border-radius: 3px;
  background: #acaaaa;
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
  background-image: url("./assets/jan.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  display:flex;
  align-items: center;
  line-height: 65px;
  
}

.weather-cell:nth-child(2){
  background-image: url("./assets/feb.png");

  
}
.weather-cell:nth-child(3){
  background-image: url("./assets/march.png");
 
  
}
.weather-cell:nth-child(4){
  background-image: url("./assets/april.png");
 
  
}
.weather-cell:nth-child(5){
  background-image: url("./assets/may.png");
  
}
.weather-cell:nth-child(6){
  background-image: url("./assets/june.png");
  
}
.weather-cell:nth-child(7){
  background-image: url("./assets/july.png");
  
}
.weather-cell:nth-child(8){
  background-image: url("./assets/august.png");
  
}
.weather-cell:nth-child(9){
  background-image: url("./assets/sept.png");
  
}
.weather-cell:nth-child(10){
  background-image: url("./assets/oct.png");
  
}
.weather-cell:nth-child(11){
  background-image: url("./assets/nov.png");
  
}
.weather-cell:nth-child(12){
  background-image: url("./assets/dec.png");
  
}

.weather-title{
  font-size: 30px;
  text-align:center;
  color: #383F44;
  font-family: 'Gupter', serif;
  font-weight: bolder;
}

.weather-wrapper{
  display: flex;
  justify-content: center;
}

.error-page{
  background-image: url("./assets/bermuda.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display:flex;
  align-items: center;
}

.error-message{
  color: black;
  font-size: 50px;
  text-shadow: 2px 2px white;
  text-align: center;
  width:50%;
  margin: 0 auto;
  
}
.error-message.a{
  color:white;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}

.error-link{
  color:blue;
  text-decoration: none;
  text-align:center;
  font-size:25px;
  margin: 0 auto;
}

.city-facts{
font-size: 75px;
font-weight: bolder;
text-align: center;
font-family: 'Gupter', serif;
color:#383F44;
margin:0px;

}

.country-info{
  font-size:40px;
  text-align:center;
  font-family: 'Gupter',serif;
  color:#383F44;
  
}

.country-snippet{
  font-size:30px;
  text-align:center;
  font-family: 'Gupter', serif;
  color:#acaaaa;
  max-width:50%;
  margin: 0 auto;
  

}

.population{
  font-size:35px;
  text-align:center;
  font-family: 'Gupter',serif;
  color:#383F44;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px){

    .hero-text{
      font-size:30px;
    }

    .landing-page-links{
     width: auto;
    }

    .profile-image{
      width: 75%;
      border:2px solid #383F44;
    }

   .country-snippet{
     font-size:25px;
     max-width:320px;
   }
   .population{
     font-size:30px;
   }
   .country-info{
     font-size:30px;
   }
   .city-facts{
     font-size:50px;
   }
    .weather-container{
      grid-template-columns: repeat(2, 150px);
    }

    .error-page{
      height: calc(100vh - 140px);
      width: initial;
    }

    .error-message{
      font-size:30px;
    }
  }


  