
.nav{
  display: flex;
  flex-direction: row;
}
.landing-container{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around

}


.city-image{
  width:90%;
  object-fit: cover;
  margin:20px;
  height: 400px;

}

.landing-page-links{
  border: solid 5px #383F44;
  width: 30%;
  margin: 10px;
  overflow: hidden;
}




.hero-image {
  background-image: url("./assets/hero1.jpg");
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px black;
}

.footer{
  right: 0;
  bottom: 0;
  left: 0;
  color:#444444;
  text-align: center;
  margin-top: 10px;
  font-size:10px;
  font-weight: lighter;
  font-family: 'Gupter', serif;


}

.profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.weather-container {
  display: grid;
  grid-template-columns: repeat(4, 106.25px);
  grid-gap: 15px;
  align-items: center
}

.weather-cell {
  height: 106.25px;
  border-radius: 3px;
  background: #acaaaa;
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
  background-image: url("./assets/Jan.png");
  background-size: 108px;
  background-repeat: no-repeat;
}



.error-page{
  background-image: url("./assets/bermudaTriangle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.error-message{
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

